* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Navbar area start  */

.nav-logo img {
  width: 30%;
  border-radius: 50%;
}

.navbar-brand img {
  width: 26%;

}

.nav-icon {
  cursor: pointer;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  /* display: none; */
}

.form-select {
  cursor: pointer;
  color: black;
}


.hero {
  width: 100%;
  height: 100vh;
  background-image: url(/assests/cars/hero-image0.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .hero {
    background-position: top;
  }
}

@media (max-width: 992px) {
  .hero {
    background-position: top;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 50vh;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 40vh;
  }
}

/* Navbar area end  */


/* display area start  */

.img-sec img {
  width: 80%;
}

.nav-icon i {
  display: none;
}

.card {
  height: 400px;
}

.cards {
  padding: 0 25px;
}


#screen-col2 p {
  margin-bottom: 12px;
}

#screen-row {
  max-width: 100%;
}

/* display area end  */


/* footer section start  */

.footer_section {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #1a1a1a;
}

.footer_section p {
  color: #f9fcfb;
  margin: 0;
  text-align: center;
  padding: 20px 15%;
  border-top: 1px solid #f9fcfb;
}

.footer_section a {
  color: #f9fcfb;
}

/* footer section end  */






@media (max-width: 1080px) {
  /* .nav-right {
    display: none !important;

  }

  .nav-icon i {
    display: block;
    font-size: 2.5rem;
    color: red;
  } */

  .nav-right {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #vehicle{
    width: 100%;
  }
}

.car-list {
  padding: 5px;
  cursor: pointer;
}

.varient-list {
  padding: 5px;
  cursor: pointer;
}